/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Common Styles or utilities */
body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
}

/* Header Section Styles */
header {
    margin: 50px 80px 130px 80px;
}
.banner {
    display: flex;
    background-color: #FDF94E;
    border-radius: 30px;
    width: 100%;

}

.left-area {
    width: 100%;
    padding: 100px;
}

.left-area h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}

.left-area p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.blue-txt {
    color: #1A419A;
}

.btn {
    background-color: #B7002D;
    padding:16px 25px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 20px;
}

.right-area {
    width: 100%;
    padding: 100px;
}

.right-area img {
    background-size: cover;
    width: 100%;
}

/* Blog & side navigation Section */
.container {
    display: flex;
    width: 100%;
    padding-bottom: 130px;
}
/* Side Navigation Styles */
.side-navigation {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #FDF94E;
    min-width: 312px;
    height: 312px;
    padding: 15px 0px;
    border-radius: 10px;
}

.side-navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.side-navigation button {
    background-color: #B7002D;
    margin: 15px 30px;
    border: 0;
    border-radius: 10px;
}

#active {
    background-color: #1A419A;
}

/* Blogs Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-left: 24px;
    width: 100%;
}
.blog {
    width: 100%;
    border: 1px solid #80808060;
    border-radius: 10px;
}

.blog-img {
    width:100%;
    text-align: center;
}

.blog-info {
    padding: 20px;
}

.blog-info button {
    background-color: #fff;
    border: 1px solid #1E1E1E;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
}

.blog-info h6 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
}

.tablet-button {
    text-align: center;
}

#tablet-btn {
    background-color: #B7002D;
    padding:16px 50px;
    margin-bottom: 130px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 20px;
}

/* Upcoming Match Styles */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-left: 24px;
    width: 100%;
}    

.match {
    text-align: center;
    padding: 53px 30px;
    border: 1px solid #d3d3d3b9;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    background-color: #FDF94E;
    text-align: center;
    padding: 120px 130px;
    /* margin-right: -160px; */
}

footer h2 {
    font-size: 40px;
}

footer hr  {
    border: 0;
    border-bottom: 1px solid #1E1E1E;
    margin-bottom: 30px;
}
.footer-menu a {
    text-decoration: none;
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    padding: 40px;
}

.social {
    padding-top: 50px;
}

.social a{
    font-size: 30px;
    color: #1E1E1E;
    padding: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 688px) {
    header {
        margin: 30px;
        /* overflow-x: hidden; */
    }
    .banner {
        flex-direction: column;
        padding: 20px;
    }

    .left-area {
        padding: 50px 10px 10px 10px;
        text-align: center;
    }

    .right-area {
        padding: 10px;
        text-align: center;
    }

    .right-area img {
        width: 50%;
    }

    .left-area h1 {
        font-size: 50px;
        margin: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .side-navigation {
        background-color: #fff;;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .tablet-button {
        display: none;
    }

    footer {
        padding: 50px 80px;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
    }

    .footer-menu a {
        padding: 15px;
    }
}
  
/* low resolution  Tablets, Ipads */
@media (min-width: 689px) and (max-width: 1024px) {
    header {
        margin: 30px;
        /* overflow-x: hidden; */
    }
    .banner {
        padding: 20px;
    }

    .left-area {
        padding: 10px;
    }

    .right-area {
        padding: 10px;
    }

    .left-area h1 {
        font-size: 50px;
        margin: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .side-navigation {
        background-color: #fff;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .side-navigation button {
        width: 50%;
        margin: 15px 30px;
        padding: 20px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        padding: 50px 80px;
    }

    footer {
        padding: 50px 80px;
    }

    .footer-menu {
        display: flex;
    }

    .footer-menu a {
        padding: 15px;
    }

    .footer-menu a {
        padding: 15px;
    }
}
  
/* Large screens */
@media (min-width: 1025px) {
    .tablet-button {
        display: none;
    }
}